body{
}

.titulos{
	text-align: center;
}


#logo-menu{
	width: 150px;
	height: 100px;
}

#logo-footer{
	width: 100px;
}

.footer{
	background-color: #393D42;
	clear: both;
	height: 80px;
}

#redes{
	float: left;
}

.center{
	margin: 20px auto 0 auto;
	display: block;
}

.contacto{
	margin-top: 10%;
}

#copyright{
	color: white;
	margin-top: 10%;
    margin-bottom: 0px;
}

.icono{
	color: white;
	font-size: 2.2em;
}